<!DOCTYPE HTML >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
       #table {background-color:grey;
       width:40%;
       height:40%;
       }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="el: ${meetings}" id="table">
    <h3 th:text="${el.title}"></h3>
    <p th:text="${el.text}"></p>
    <p th:text="${el.location}"></p>
    <p th:text="${el.count}"></p>
    <a th:href="'meeting-info/'+${el.id}">Детально</a>
    <br>
</div>
<br>
<a href="/new-table">Створити зустріч</a>

</body>
</html>