<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Dodatu</h1>
    <form action="/newTable" method="post">
        <input type="text" name="title" placeholder="nazva">
        <input type="text" name="text" placeholder="text">
        <input type="text" name="location" placeholder="location">
        <input type="number" name="count" placeholder="count">
        <button type="submit">Створити</button>
    </form>
</div>
</body>
</html>