<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .slot {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
      }
    </style>
</head>
<body>
<div>
    <h1>Dodatu</h1>
    <form action="/new-table" method="post">
        <input type="text" name="title" placeholder="nazva">
        <input type="text" name="text" placeholder="text">
        <input type="text" name="location" placeholder="location">
        <input type="number" name="count" placeholder="count">
        <div id="slot-container">
            <label for="slot-container">Slots:</label>
            <div class="slot">
                <input type="text" name="name" placeholder="name" required>
                <input type="number" name="costMember" placeholder="costMember" required>
                <button type="button" onclick="this.parentNode.remove()">Видалити</button>
            </div>
        </div>
        <br /><br />
        <button type="button" onclick="addSlot()">Додати слот</button>
        <br /><br />
        <button type="submit">Створити</button>
    </form>
</div>
<script type="text/javascript">
    function createSlot() {
        const slotDiv = document.createElement("div");
        slotDiv.className = "slot";
        const slotName = createInput("text", "name", "name", true);
        const slotCost = createInput("number", "costMember", "costMember", true);
        const slotRemove = createRemoveButton(slotDiv);
        slotDiv.appendChild(slotName);
        slotDiv.appendChild(slotCost);
        slotDiv.appendChild(slotRemove);
        return slotDiv;
    }

    function createInput(type, name, placeholder, required) {
        const input = document.createElement("input");
        input.type = type;
        input.name = name;
        input.placeholder = placeholder;
        input.required = required;
        return input;
    }

    function createRemoveButton(slotDiv) {
        const button = document.createElement("button");
        button.type = "button";
        button.innerText = "Видалити";
        button.onclick = () => slotDiv.remove();
        return button;
    }

    function addSlot() {
        const slotContainer = document.getElementById("slot-container");
        const slotDiv = createSlot();
        slotContainer.appendChild(slotDiv);
    }
    </script>
</body>
</html>